body
{
background-image:url(oak2.png);
background-size:100% 100%;
display:flex;
justify-content:center;
}
.A
{
text-align:center;
background:rgba(254,18,255,0.4);
height:200px;
width:300px;
margin-top:5cm;
box-shadow:20px 20px 20px green;
}
.B
{
color:cyan;
}
.C
{
background-color:yellow;
color:black;
}
.C:hover
{
width:80px;
height:20px;
color:green;
border-radius:40px 0px 40px 0px;